{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="top">
    <i id="menu" class="fa-solid fa-bars"></i>
</div>
<div class="navbar" id="navbar">
    <ul id="list">
        <li id="blur">Python</li>
        <li id="blur">Django</li>
        <li id="blur">MongoDb</li>
        <li id="blur">React</li>
        <li id="blur">JS</li>
        <li id="blur" class="dropdown">More<span class="material-symbols-outlined">arrow_drop_down</span>

            <div class="dropdown_content">
                {% for cat in categories %}
                <div id="dropblur"> {{ cat.name }} </div>
                {% endfor %}
            </div>

        </li>
    </ul>
</div>

<div class="container" id="container">

    {% for post in posts %}
    <div class="box" id="box">
        <img src="{{post.image.url}}" alt="">
        <div class="buttons" id="buttons">
            <div class="squre"><i class="fa-solid fa-download"></i></div>
            <div class="squre"><i class="fa-solid fa-comments"></i></div>
            <div class="squre"><i class="fa-regular fa-heart"></i></div>
            <div class="squre"> <i class="fa-solid fa-share-from-square"></i></div>
        </div>
        <p id="title" class="tracking-in-contract-bck">{{post.title}}</p>
    </div>

    {% endfor %}
</div>
<div class="prevnext">
    <button class="first"><i class="fa-solid fa-backward"></i></button>
    <button class="prev"><i class="fa-solid fa-caret-left"></i></button>
    <button class="numbers">1</button>
    <button class="numbers">2</button>
    <p style="color:#f2f2f2">.....</p>
    <button class="numbers">3</button>
    <button class="next"><i class="fa-solid fa-caret-right"></i></button>
    <button class="last"><i class="fa-solid fa-forward"></i></button>
</div>
<script src="{% static 'assets/js/blog.js' %}"></script>
</body>
{% endblock %}