*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top i{
    display: none;
}
body{
    overflow-x:hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
   background-color: #222;
}
.navigationbar{
    width: 100%;
    height: 11vh;
    background-color: #222;
}
.navigationbar ul{
    width: 100%;
    height: 11vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style:none;
}
.navleft , .navright{
    width: 50%;
    height: 11vh;
    display: flex;
}
.navleft li , .navright li{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navleft li a{
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    color:gray;
    font-weight: 550;
    padding:32px;
    transition: border-bottom;
    transition: ease-in;
    transition: .15s;
}
.navleft li a:hover{
    color:rgb(82, 243, 255);
    border-bottom: 5px solid #76ffff;
}
#menubutton span{
    font-size: 40px;
    color:gray;
    
}
#menubutton{
    justify-content: flex-start;
    align-items: center;
    display: none;
}
li input{
    border-radius: 35px;
    border: none;
    width: 70%;
    padding: 10px 15px;
    background-color: rgb(78, 74, 74);
    color:#222;
    font-family: sans-serif;
    font-weight: 550;
    outline:none;
    
}
li button{
    cursor: pointer;
    border: none;
    background-color:gray;
    padding:6px 25px;
    color:#222;
    border-radius: 25px;
    transition: 0.5s;
    box-shadow: 0px 3px 10px ;
}
li button:hover{
    color: #f1f1f1;
    background-color:#222;
    font-weight: 600;
}
#search{
    font-size: 30px;
    color:gray;
    transition: 0.5s;
    cursor: pointer;
}
#search:hover{
    color:#403e3e;
    font-size: 45px;
    font-weight: 600;
}
.themebutton{
    width: 120px;
    height:40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}
.themebutton i{
    color:#222;
}
.backgroundbutton{
    
    background-color: gray;
    width: 116px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 38px;
    border-radius: 35px;
    margin: 2px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0) inset;
    
    
}
.ball{
    position: absolute;
    width: 37px;
    z-index: 5;
    animation-duration: 0.5s;
    height: 34px;
    background:gray;
    border-radius: 50%;
    left: 3px;
    box-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.ball i{
    color:#cab11f;
}
@keyframes ball{
    from{
        left:3px;
    }
    to{
        left:75px;
    }
}
@keyframes reverseball{
    from{
        left:75px;
    }
    to{
        left:3px;
    }
}
/*responsivenavbar*/

.responsivenavigationbar{
    position: absolute;
    background-color:#222;
    height:89vh;
    right:-350px;
    z-index: 20;
    top:11vh;
    width: 350px;
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.46) inset;
    position: fixed;
    display: none;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    

}
.responsivenavigationbar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}
.responsivenavigationbar ul li{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.responsivenavigationbar ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color:gray;
    transition: .15s;
}
.home{
    background-color: #000000ae;
}
.responsivenavigationbar ul .links a:hover{
    color:rgb(82, 243, 255);
    border-bottom: 5px solid #76ffff;
}
#responsiveuser{
    
    height: 40%;
    
}
#responsiveuser img{
    width: 125px;
    height: 125px;
}
#responsiveuser button{
    padding: 10px 45px;
    margin-top: 30px;
}
@keyframes opensidemenu{
    from{
        right:-300px;
    }
    to{
        right: 0;
    }
}
@keyframes closesidemenu{
    from{
        right:0px;
    }
    to{
        right:-350px;
    }
}




/*responsivenavbar*/






.navbar{

    width: 20%;
    height: 84vh;
    background-color: #2a2929;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.703);
    transition: 1s;
}
span{
    color: gray;
    cursor: pointer;
}
.navbar ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 100%;
    height:100%;
    transition: .75s;
}
.navbar ul li{
    width: 100%;
    height:7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 17;
    transition: 0.25s;
    z-index: 1;
    color:rgba(255, 255, 255, 0.595);
}
ul:hover > #blur{
    filter: blur(1.5px);
    
}
ul > #blur:hover {
    color:gray;
    filter: blur(0px);
    text-shadow:none;
    letter-spacing: 5px;
    background-color: #434040;
}
.dropdown{
    position: relative;
}
.dropdown:hover .dropdown_content{
    display: block;
}

.dropdown_content{
    height:200px;
    position: absolute;
    width: 100%;
    top:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display:none;
    background-color: #2a2929;
    z-index: 20;
    overflow-y: scroll;
    
}
.dropdown_content div{
    width: 100%;
    height:25%;
    color:rgba(255, 255, 255, 0.595);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s;
    z-index: 20;
}
#show{
    display:none;
    position: fixed;
    top: 11vh;
    z-index:10;
    background-color:#333232;
    width: 100%;
    justify-content: center;
    height: 7vh;
    color:white;
    align-items: center;
}
.dropdown_content:hover > #dropblur{
    filter: blur(1.5px);
    
}
.dropdown_content > #dropblur:hover {
    color:gray;
    filter: blur(0px);
    text-shadow:none;
    background-color:#434040;
}
.container{
    width: 80%;
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    height:84vh;
    align-content: flex-start;
    align-items:flex-start;
    overflow-y: scroll;
    background-color:#2a2a2a;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color:#403e3e;
}
::-webkit-scrollbar-track{
    background-color: rgb(94, 94, 94);
}
::-webkit-scrollbar-button{
    display: none;
}
.box{
    margin: 70px 20px;
    width: 300px;
    height: 400px;
    background: rgb(235, 233, 233);
    border-radius: 5px 5px 0px 0px ;
    animation-duration: 0.5s;
    box-shadow: 0px 20px 60px rgba(49, 48, 48, 0.944);
    position: relative;
    animation-name: reversechangesize;
}
.box img{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    width:inherit;
    height:inherit;
    border-radius:5px 5px 0px 0px;
    transition: 0.5s;
}
img:hover{
    width: 305px;
    height: 410px;
}
.buttons{
    display: none;
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: -15%;
    background-color: #222;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:row;
    transition: 1s;
}
.box:hover{
    width: 305px;
    height: 410px;
    animation-name:changesize;
}
.box:hover .buttons{
    display:flex;
}
.box:hover #title{
    display: block;
}
.box p{
    width: 100%;
    padding: 10px 0;
    color:#f2f2f2;
    background-color: #e0dada64;
    position: absolute;
    bottom: 5%;
    text-align: center;
    font-size: 40px;
    display: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 5px 5px black;
}
.squre{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#f2f2f2;
    width: 25%;
    height: 100%;
    transition: .5s;
}
.squre:hover{
    background-color: #f2f2f2;
    color:#222;
}
.prevnext button{
    border: none;
    padding: 3px;
    color:#f2f2f2;
    background-color: #222;
    margin: 0px 15px;
    height: 5vh;
    padding: 0px 10px;
}
.prevnext button:hover{
    background-color: #f2f2f2;
    color:#222;
}
.prevnext{
    width: 100%;
    height: 5vh;
    background-color:#222;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@keyframes changesize{
    from{
        width: 300px;
        height: 400px;
    }
    to{
        width: 305px;
        height: 410px;
    }
}
@keyframes reversechangesize{
    from{
        width: 305px;
        height: 410px;
    }
    to{
        width: 300px;
        height: 400px;
    }
}
@-webkit-keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
.tracking-in-contract-bck {
    -webkit-animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
        
        .responsearch span ,.responsearch input {
            display:none;
        }
        .responsearch{
            width: 0;
        }
        .user{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            position: relative;
        }
        
        .user img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
           
            margin-bottom: 8;
            border: 3px solid   gray;
        }