@media only screen and (max-width:1200px)
{
    .container{
        width: 85%;
    }
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background: rgb(236,103,161);
    background: linear-gradient(270deg, rgba(236,103,161,1) 0%, rgba(28,113,213,1) 100%);
}
@media only screen and (max-width:992px)
{
    .container{
        width: 90%;
    }
    .box{
        width: 85%;
    }
    .box h1{
        font-size: 30px;
    }
    .left h1{
        font-size: 30px;
    }
}
@media only screen and (max-width:768px)
{
    .container{
        width: 100%;
        flex-direction: column;
        height: 250vh;
    }
    .left{
        width: 90%;
        height: 125vh;
        order: 2;
    }
    .right{
        width: 90%;
        height: 125vh;
        order: 1;
    }
}