<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>

<body>
    {% if profile.user.first_name == None %}
    <h1>{{ user.profile.first_name }} {{user.profile.last_name}}'s Profile</h1>
    <h3>PhoneNumber: {{ user.profile.phone_number}}</h3>
    {{profile.last_name}}
    {% endif %}
    <h1>{{ user.email }}</h1>
    <img src="{{ user.profile.image.url }}" />
    <a href="{% url 'blog:create' %}">Create post</a>
</body>

</html>